[submodule "external/httpmockserver"]
	path = external/httpmockserver
	url = https://github.com/seznam/httpmockserver.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
